<section class="page-width">
    <div class="cryptid_faq_wrapper">
        <h1>{{section.settings.cryptid_faq_title}}</h1>
        <h2>{{section.settings.cryptid_faq_question1}}</h2>
        <p>{{section.settings.cryptid_faq_answer1}}</p>
        <h2>{{section.settings.cryptid_faq_question2}}</h2>
        <p>{{section.settings.cryptid_faq_answer2}}</p>
        <h2>{{section.settings.cryptid_faq_question3}}</h3>
        <p>{{section.settings.cryptid_faq_answer3}}</p>
        <h2>{{section.settings.cryptid_faq_question4}}</h2>
        <p>{{section.settings.cryptid_faq_answer4}}</p>
        <h2>{{section.settings.cryptid_faq_question5}}</h2>
        <p>{{section.settings.cryptid_faq_answer5}}</p>
        <h2>{{section.settings.cryptid_faq_question6}}</h2>
        <p>{{section.settings.cryptid_faq_answer6}}</p>
        <h2>{{section.settings.cryptid_faq_question7}}</h2>
        <p>{{section.settings.cryptid_faq_answer7}}</p>
        <h2>{{section.settings.cryptid_faq_question8}}</h1>
        <p>{{section.settings.cryptid_faq_answer8}}</p>
        <h2>{{section.settings.cryptid_faq_question9}}</h1>
        <p>{{section.settings.cryptid_faq_answer9}}</p>
    </div>
</section>

{% schema %}

{
    "name": "Cryptid FAQ",
    "settings": [
        {
            "type": "text",
            "id": "cryptid_faq_title",
            "label": "Cryptid FAQ Title",
            "default": "FAQ"
        }, 
        {
            "type": "text",
            "id": "cryptid_faq_question1",
            "label": "Cryptid FAQ Question 1",
            "default": "What is your Return/Refund policy?"
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer1",
            "label": "Cryptid FAQ Answer 1",
            "default": "Subscriptions are automatically charged on the 15th of each month. You have the option to 'skip the month' or cancel your subscription before these dates, and it is your responsibility to do so. There are no refunds once you are charged. We also do not accept returns.  If you happen to receive an item you don't want to keep, you can try trading it in our facebook community.  If there is an error or damage to your Crate, please contact us and we will be happy to take care of that for you."
        },
        {
            "type": "text",
            "id": "cryptid_faq_question2",
            "label": "Cryptid FAQ Question 2",
            "default": "When will my crate ship?"
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer2",
            "label": "Cryptid FAQ Answer 2",
            "default": "Crates are shipped via USPS.  Cryptid Crate ships on the first of the month (excluding weekends and holidays.)  Cryptid Crate Lite ships about 2 weeks later."
        },          
        {
            "type": "text",
            "id": "cryptid_faq_question3",
            "label": "Cryptid FAQ Question 3",
            "default": "What is a cryptid?"
        
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer3",
            "label": "Cryptid FAQ Answer 3",
            "default": "A cryptid is an animal that has yet to be recognized by the scientific community, i.e. Bigfoot, Sasquatch, Mothman, Jersey Devil, Nessie, UFO's, Aliens, Ghosts and many more."
        },
        {
            "type": "text",
            "id": "cryptid_faq_question4",
            "label": "Cryptid FAQ Question 4",
            "default": "What's in the box?"
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer4",
            "label": "Cryptid FAQ Answer 4",
            "default": "A mix of fun Cryptid Themed items each month, the total value of which is more than you pay for the box!  May include any combination of Collectibles, T-shirts, hats, socks, books, films and other misc. cryptozoology-themed items."
        },
        {
            "type": "text",
            "id": "cryptid_faq_question5",
            "label": "Cryptid FAQ Question 5",
            "default": "Order and shipping deadlines for Cryptid Crate?"
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer5",
            "label": "Cryptid FAQ Answer 5",
            "default": "Automatically renews on the 15th of every month. Your first Crate will ship on or around the 1st of the following month. For example: if you sign up on August 15, your first Crate will be the September Crate.   Cryptid Crate Lite ships about 2 weeks after."
        },
        {
            "type": "text",
            "id": "cryptid_faq_question6",
            "label": "Cryptid FAQ Question 6",
            "default": "How much is shipping?"
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer6",
            "label": "Cryptid FAQ Answer 6",
            "default": "If you happen to live in the US, your shipping is *FREE*!  Aside from the us, Cryptid Crate ships Globally for an additional fee which will be calculated based on your address and displayed at checkout. Please be aware that if you are purchasing from outside of the US, your country may charge extra duties or taxes on import and those are your responsibility."
        },
        {
            "type": "text",
            "id": "cryptid_faq_question7",
            "label": "Cryptid FAQ Question 7",
            "default": "I missed a crate, are there extras I can buy?"
            
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer7",
            "label": "Cryptid FAQ Answer 7",
            "default": "Extra Crates are available for purchase at CryptidCrate.etsy.com while supplies last. Once extra crates are sold out, they're gone for good, so don't delay!"
        },
        {
            "type": "text",
            "id": "cryptid_faq_question8",
            "label": "Cryptid FAQ Question 8",
            "default": "Cryptid crate is cool!  Do you have any other products?"

        },
        {
            "type": "text",
            "id": "cryptid_faq_answer8",
            "label": "Cryptid FAQ Answer 8",
            "default": "Box mountain LLC, the team that packages your cryptid crate every month also operates pipsmountain.com and MakerBox.me which deal with dice and 3D Printing respectively.  Check them out!"
        },
        {
            "type": "text",
            "id": "cryptid_faq_question9",
            "label": "Cryptid FAQ Question 9",
            "default": "My question isn't answered here:"
        },
        {
            "type": "text",
            "id": "cryptid_faq_answer9",
            "label": "Cryptid FAQ Answer 9",
            "default": "Email us at CryptidCrate@gmail.com. We'll respond within one business day."
        }
      ]
    }

{% endschema %}