<footer class="site-footer" role="contentinfo" data-section-type="footer-section">
  <div class="site-footer-columns">
  <div class="page-width">
    
      <h3 class="footer-title">Box Mountain LLC</h3>
      <div class="footer-columns-contain">
        <div class="footer-column-left">
          <div class="footer-link-contain"> <a href="{{ section.settings.link1 }}">{{ section.settings.label1 }}</a> </div>
          <div class="footer-link-contain"> <a href="{{ section.settings.link3 }}">{{ section.settings.label3 }}</a> </div>
        </div>
         <div class="footer-column-center">
          <div class="footer-link-contain"> <a href="{{ section.settings.link4 }}">{{ section.settings.label4 }}</a> </div>
          <div class="footer-link-contain"> <a href="{{ section.settings.link5 }}">{{ section.settings.label5 }}</a> </div>
          <div class="footer-link-contain"> <a href="{{ section.settings.link6 }}">{{ section.settings.label6 }}</a> </div>
        </div>
         <div class="footer-column-right">
          <div class="footer-link-contain"> <a href="{{ section.settings.link7 }}">{{ section.settings.label7 }}</a> </div>
          <div class="footer-link-contain"> <a href="{{ section.settings.link8 }}">{{ section.settings.label8 }}</a> </div>
          <div class="footer-link-contain"> <a href="{{ section.settings.link9 }}">{{ section.settings.label9 }}</a> </div>
        </div>
      </div>
    </div>
  </div>
{% schema %}

{
    "name": "Footer links",
    "settings": [
        {
            "id": "link1",
            "type": "url",
            "label": "Link 1"
        }, {
            "id": "label1",
            "type": "text",
            "label": "Link Title 1"
        }, {
            "id": "link3",
            "type": "url",
            "label": "Link 3"
        }, {
            "id": "label3",
            "type": "text",
            "label": "Link Title 3"
        }, {
            "id": "link4",
            "type": "url",
            "label": "Link 4"
        }, {
            "id": "label4",
            "type": "text",
            "label": "Link Title 4"
        }, {
            "id": "link5",
            "type": "url",
            "label": "Link 5"
        }, {
            "id": "label5",
            "type": "text",
            "label": "Link Title 5"
        }, {
            "id": "link6",
            "type": "url",
            "label": "Link 6"
        }, {
            "id": "label6",
            "type": "text",
            "label": "Link Title 6"
        }, {
            "id": "link7",
            "type": "url",
            "label": "Link 7"
        }, {
            "id": "label7",
            "type": "text",
            "label": "Link Title 7"
        }, {
            "id": "link8",
            "type": "url",
            "label": "Link 8"
        }, {
            "id": "label8",
            "type": "text",
            "label": "Link Title 8"
        }, {
            "id": "link9",
            "type": "url",
            "label": "Link 9"
        }, {
            "id": "label9",
            "type": "text",
            "label": "Link Title 9"
        }
    ]
}

{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}



{% endjavascript %}
