<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>

    <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }

        .announcement-bar--link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.color_text }};
        }
      </style>

    <div class="announcement-bar">
        <div class="announcement_wrapper">
            <div class="announcement-logo">
                <a class="site-header__logo-link" href="{{ routes.root_url }}">Box Mountain LLC</a>
            </div>
            <div class="announcement-links">
                <a class="site-header__icon site-header__account" href="{{section.settings.catalogue_link}}">
                    <i class="fas fa-book-open"></i>

                    <span class="header-link-text">Catalog</span>
                </a>
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">

                            <i class="fas fa-user"></i>
                            <span class="header-link-text">Your Account</span>
                        </a>
                    {% else %}
                        <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">


                            <i class="fas fa-door-open"></i>
                            <span class="header-link-text">Login</span>
                        </a>
                    {% endif %}
                {% endif %}

                <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
                    <i class="fas fa-shopping-cart"></i>


                    <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                    <div class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble id="CartCount">
                        <span data-cart-count>{{ cart.item_count }}</span>
                        <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                    </div>
                    <span class="header-link-text">Your Cart</span>
                </a>


            </div>


        </div>
    </div>
</div>

{% schema %}
{
"name": "Header",
"settings": [
{ "type": "url",
    "id": "catalogue_link",
    "label": "Catalogue Link"
   
}
]
}
{% endschema %}