<div class="page-wrapper">
    <div class="maker_about_hero">
        <img src="{{section.settings.maker_about_hero_image | img_url: '900x'}}" class="maker_about_hero_image">
        <h1>{{section.settings.maker_about_hero_text}}</h1>
    </div>
    <div class="maker_about_icon_group">
        <div class="maker_icon_group">
            <img src="{{section.settings.maker_icon1 | img_url: '150x'}}">
            <p>{{section.settings.maker_caption1}}</p>
        </div>
        <div class="maker_icon_group">
            <img src="{{section.settings.maker_icon2 | img_url: '150x'}}">
            <p>{{section.settings.maker_caption2}}</p>
        </div>
        <div class="maker_icon_group">
            <img src="{{section.settings.maker_icon3 | img_url: '150x'}}">
            <p>{{section.settings.maker_caption3}}</p>
        </div>
    </div>
    <div class="page-text">
        {{page.content}}
    </div>
    <div class="maker_about_contact">
        <h2>{{section.settings.maker_contact_text}}</h2>
        <a href="{{section.settings.maker_contact_link}}">
            <button>{{section.settings.maker_about_button_text}}</button>
        </a>

    </div>
</div>

{% schema %}
{
"name": "Maker Box About",
"settings": [
    {
"type": "image_picker",
"id": "maker_about_hero_image",
"label": "Maker About Hero Image"
    },
{ "type": "text",
    "id": "maker_about_hero_text",
    "label": "Maker About Hero Text",
    "default": "The original 3D printer filament sample subscription box."
},
{
    "type": "image_picker",
    "id": "maker_icon1",
    "label": "Maker About Icon 1"
},
{
    "type": "text",
    "id": "maker_caption1",
    "label": "Maker About Caption 1",
    "default": "Backed by leading 3D printing companies."
},
{
    "type": "image_picker",
    "id": "maker_icon2",
    "label": "Maker About Icon 2"
},
{
    "type": "text",
    "id": "maker_caption2",
    "label": "Maker About Caption 2",
    "default": "Over 2,000 boxes shipped."
},
{
    "type": "image_picker",
    "id": "maker_icon3",
    "label": "Maker About Icon 3"
},
{
    "type": "text",
    "id": "maker_caption3",
    "label": "Maker About Caption 3",
    "default": "More than 100 unique filaments."
},
{
    "type": "text",
    "id": "maker_contact_text",
    "label": "Maker Contact Text",
    "default": "Have more questions about Maker Box?"
},{
    "type": "url",
    "id": "maker_contact_link",
    "label": "Maker Contact Link"
  
},
{
    "type": "text",
    "id": "maker_about_button_text",
    "label": "Maker About Button Text",
    "default": "Contact Us"
}
]
}
{% endschema %}