<section class="maker-box-plans">
    <h1>{{section.settings.maker_box_plans_title}}</h1>
    <div class="maker_box_plans_grid">
        <div class="maker_box_item">
            <h2>{{section.settings.maker_box_item_title1}}</h2>
            <h1>{{section.settings.maker_box_item_price1}}</h1>
            <p class="maker_item_description">{{section.settings.maker_box_item_description1}}</p>
            <a href="{{section.settings.maker_box_product1}}">
                <button>{{section.settings.maker_box_item1_option1}}</button>
            </a>
            <p>{{section.settings.maker_box_item1_caption1}}</p>
            <a href="{{section.settings.maker_box_product4}}">
                <button>{{section.settings.maker_box_item1_option2}}</button>
            </a>
            <p>{{section.settings.maker_box_item1_caption2}}</p>
        </div>
        <div class="maker_box_item">
            <h2>{{section.settings.maker_box_item_title2}}</h2>
            <h1>{{section.settings.maker_box_item_price2}}</h1>
            <p class="maker_item_description">{{section.settings.maker_box_item_description2}}</p>
            <a href="{{section.settings.maker_box_product2}}">
                <button>{{section.settings.maker_box_item2_option1}}</button>
            </a>
            <p>{{section.settings.maker_box_item2_caption1}}</p>
            <a href="{{section.settings.maker_box_product5}}">
                <button>{{section.settings.maker_box_item2_option2}}</button>
            </a>
            <p>{{section.settings.maker_box_item2_caption2}}</p>
        </div>
        <div class="maker_box_item">
            <h2>{{section.settings.maker_box_item_title3}}</h2>
            <h1>{{section.settings.maker_box_item_price3}}</h1>
            <p class="maker_item_description">{{section.settings.maker_box_item_description3}}</p>
            <a href="{{section.settings.maker_box_product3}}">
                <button>{{section.settings.maker_box_item3_option1}}</button>
            </a>
            <p>{{section.settings.maker_box_item3_caption1}}</p>
            <a href="{{section.settings.maker_box_product6}}">
                <button>{{section.settings.maker_box_item3_option2}}</button>
            </a>
            <p>{{section.settings.maker_box_item3_caption2}}</p>
        </div>
    </div>
    <div class="maker_box_reviews_container"></div>
</section>

{% schema %}

{
    "name": "Maker Box Plans",
    "settings": [
        {
            "type": "text",
            "id": "maker_box_plans_title",
            "label": "Maker Box Plans Title",
            "default": "Choose Your Plan"
        }, {
            "type": "text",
            "id": "maker_box_item_title1",
            "label": "Maker Box Item Title 1",
            "default": "Maker Box Easy"
        }, {
            "type": "text",
            "id": "maker_box_item_price1",
            "label": "Maker Box Item Price 1",
            "default": "$15.99/mo"
        }, {
            "type": "text",
            "id": "maker_box_item_description1",
            "label": "Maker Box Item Description 1",
            "default": "The 4 monthly samples will be 4 different colors from a single manufacturer. The material will be PLA or something that prints at typical PLA settings. No special nozzles, enclosure, or heated bed. This is the plan to pick if you don't want to try challenging materials and your goal is building a library of color choices."
        }, {
            "type": "text",
            "id": "maker_box_item1_option1",
            "label": "Maker Box Item 1 Button 1",
            "default": "Monthly Delivery"
        }, {
            "type": "text",
            "id": "maker_box_item1_caption1",
            "label": "Maker Box Item 1 Caption 1",
            "default": "This option is best for US customers."
        }, {
            "type": "text",
            "id": "maker_box_item1_option2",
            "label": "Maker Box Item 1 Button 2",
            "default": "Bi-Monthly Delivery"
        }, {
            "type": "text",
            "id": "maker_box_item1_caption2",
            "label": "Maker Box Item 1 Caption 1",
            "default": "This option is best for international customers."
        }, {
            "type": "text",
            "id": "maker_box_item_title2",
            "label": "Maker Box Item Title 2",
            "default": "Maker Box Explorer"
        }, {
            "type": "text",
            "id": "maker_box_item_price2",
            "label": "Maker Box Item Price 2",
            "default": "$18.99/mo"
        }, {
            "type": "text",
            "id": "maker_box_item_description2",
            "label": "Maker Box Item Description 2",
            "default": "The 4 monthly samples will be selected from different manufacturers and material types, plus bonus filament on your first shipment. This is the plan to pick if your goal is to explore a wide range of filaments."
        }, {
            "type": "text",
            "id": "maker_box_item2_option1",
            "label": "Maker Box Item 2 Button 1",
            "default": "Monthly Delivery"
        }, {
            "type": "text",
            "id": "maker_box_item2_caption1",
            "label": "Maker Box Item 2 Caption 1",
            "default": "This option is best for US customers."
        }, {
            "type": "text",
            "id": "maker_box_item2_option2",
            "label": "Maker Box Item 2 Option 2",
            "default": "Bi-Monthly Delivery"
        }, {
            "type": "text",
            "id": "maker_box_item2_caption2",
            "label": "Maker Box Item 2 Caption 2",
            "default": "This option is best for international customers."
        }, {
            "type": "text",
            "id": "maker_box_item_title3",
            "label": "Maker Box Item Title 3",
            "default": "Maker Box Everything"
        }, {
            "type": "text",
            "id": "maker_box_item_price3",
            "label": "Maker Box Item Price 3",
            "default": "$29.99/mo"
        }, {
            "type": "text",
            "id": "maker_box_item_description3",
            "label": "Maker Box Item Description 3",
            "default": "This box is custom curated with 8 new filament samples (monthly) or 16 samples (bi-monthly) and combines the Easy and Explorer plans at a discount, plus bonus filament on your first shipment!"
        }, {
            "type": "text",
            "id": "maker_box_item3_option1",
            "label": "Maker Box Item 2 Button 1",
            "default": "Monthly Delivery"
        }, {
            "type": "text",
            "id": "maker_box_item3_caption1",
            "label": "Maker Box Item 2 Caption 1",
            "default": "This option is best for US customers."
        }, {
            "type": "text",
            "id": "maker_box_item3_option2",
            "label": "Maker Box Item 2 Option 2",
            "default": "Bi-Monthly Delivery"
        }, {
            "type": "text",
            "id": "maker_box_item3_caption2",
            "label": "Maker Box Item 2 Caption 2",
            "default": "This option is best for international customers."
        }, {
            "type": "url",
            "id": "maker_box_product1",
            "label": "Maker Box Product 1"
        }, {
            "type": "url",
            "id": "maker_box_product2",
            "label": "Maker Box Product 2"
        }, {
            "type": "url",
            "id": "maker_box_product3",
            "label": "Maker Box Product 3"
        }, {
            "type": "url",
            "id": "maker_box_product4",
            "label": "Maker Box Product 4"
        }, {
            "type": "url",
            "id": "maker_box_product5",
            "label": "Maker Box Product 5"
        }, {
            "type": "url",
            "id": "maker_box_product6",
            "label": "Maker Box Product 6"
        }
    ]
}

{% endschema %}
